@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

body{
	background-attachment: fixed;
	background-color: rgb(16, 29, 41);
	background-image: url(https://estudioskotsbek.github.io/complementos/fondo.png);
	background-position: center;
	color: white;
	font-family: "Pixelify Sans", sans-serif;
	text-align: center;
}

img{
    height: auto;
    max-width: 100%;
}

iframe{
	border-radius: 10px;
	height: 315px;
    width: 560px;
}

::-moz-selection{
    background: #56A442;
	color: white;
}

::selection{
    background: #56A442;
	color: white;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
	backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb{
	backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

#contenedor{
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
	margin: 5px auto;
	padding: 5px;
	width: 700px;
	-webkit-backdrop-filter: blur(10px);
}

#navegacion{
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
	padding: 2px;
}
#navegacion ul{
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navegacion li{
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}
#navegacion a{
	color: white;
	text-decoration: none;
}
#navegacion a:hover{
	text-decoration: underline 2px solid #56A442;
}
#navegacion a:active{
	color: #A5E85D;
	text-decoration: underline 2px solid #A5E85D;
}
#navegacion img:hover{
	opacity: 0.7;
}
#navegacion img:active{
	opacity: 0.5;
}

#noticias p{
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
}

.juego{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-weight: bold;
	margin: 5px auto;
	padding: 2px;
	text-align: left;
	text-decoration: none;
	width: 300px;
}
.juego:hover{
	opacity: 0.5;
	text-decoration: none;
}
.juego:active{
	opacity: 0.3;
	text-decoration: none;
}
.juego img{
	border-radius: 10px;
	text-decoration: none;
	vertical-align: middle;
}
.juego p{
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	width: 150px;
}

.boton{
	background-color: #A5E85D;
	background-image: linear-gradient(145deg, #ECEE8D 0%, #A5E85D 50%, #56A442 75%);
	border-radius: 10px;
	color: black;
	display: inline-block;
	font-weight: bold;
	padding: 10px 15px;
	text-decoration: none;
}
.boton:hover{
	background-color: #56A442;
	background-image: none;
	color: white;
	text-decoration: none;
}
.boton:active{
	background-color: white;
	background-image: none;
	box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
	color: #56A442;
	text-decoration: none;
}

.miembro{
	display: inline-block;
	vertical-align: top;
	width: 148px;
}
.miembro img{
	border-radius: 50%;
	padding: 2px;
}

#pie{
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
	padding: 2px;
}

.redsocial{
	border-radius: 50%;
	color: black;
	display: inline-block;
	font-weight: bold;
	height: 50px;
	margin: 2px;
	text-decoration: none;
	width: 50px;
}
.redsocial:hover{
	color: white;
	text-decoration: none;
}
.redsocial:active{
	box-shadow: inset 0px 0px 10px 0px rgb(0, 0, 0);
	text-decoration: none;
}
.redsocial i{
	font-size: 30px;
	line-height: 50px;
	vertical-align: middle;
}

#botondeyoutube{
	background-color: #E85D68;
	background-image: linear-gradient(#EE9F8D 0%, #E85D68 50%, #A4425D 75%);
}
#botondeyoutube:hover{
	background-color: #A4425D;
	background-image: none;
}
#botondeyoutube:active{
	background-color: white;
	background-image: none;
	color: #A4425D;
}

#botondetwitter{
	background-color: #5DD1E8;
	background-image: linear-gradient(#8DEED1 0%, #5DD1E8 50%, #4275A4 75%);
}
#botondetwitter:hover{
	background-color: #4275A4;
	background-image: none;
}
#botondetwitter:active{
	background-color: white;
	background-image: none;
	color: #4275A4;
}

#botondediscord{
	background-color: #665DE8;
	background-image: linear-gradient(#8DB4EE 0%, #665DE8 50%, #6742A4 75%);
}
#botondediscord:hover{
	background-color: #6742A4;
	background-image: none;
}
#botondediscord:active{
	background-color: white;
	background-image: none;
	color: #6742A4;
}

#botondetiktok{
	background-color: #5D6DE8;
	background-image: linear-gradient(#8DDCEE 0%, #5D6DE8 50%, #A44268 75%);
}
#botondetiktok:hover{
	background-color: #A44268;
	background-image: none;
}
#botondetiktok:active{
	background-color: white;
	background-image: none;
	color: #A44268;
}

#icono{
	border-radius: 10px;
}

#capturas img{
	border-radius: 10px;
}

@media only screen and (max-width: 190px) {
    .juego{
	    background-color: transparent;
	    display: block;
	    text-align: center;
	    width: 95%;
    }
	.juego p{
	    display: block;
		margin: 1px;
	    width: auto;
    }
}

@media screen and (max-width: 380px) {
    iframe{
	    height: auto;
	}
}

@media only screen and (max-width: 580px) {
    .miembro{
	    display: block;
	    width: 95%;
    }
}

@media screen and (max-width: 670px) {
    iframe{
	    max-width: 95%;
	}
}

@media only screen and (min-width: 190px) and (max-width: 680px) {
    #navegacion li{
		display: block;
	}
    .juego{
	    background-color: transparent;
	    display: block;
	    text-align: center;
	    width: 150px;
    }
    .juego p{
	    display: block;
		margin: 1px;
	    width: auto;
    }
}

@media only screen and (max-width: 850px) {
    #contenedor{
	    width: 95%;
    }
}
